/* You can add global styles to this file, and also import other style files */
body{
  background-color: #ffffff;
}
button {
  background-color:#555555; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
}